In [1]:
import pandas as pd

In [2]:
path = "project-3/static/js/Homicides_Open_Data.csv"

data_df = pd.read_csv(path)
data_df.head()

,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOW,OCC_DOY,DIVISION,HOMICIDE_TYPE,NEIGHBOURHOOD_158
0,1,GO-2004111878,2004.01.03,2004,January,3,Saturday,3,D53,Other,Rosedale-Moore Park
1,2,GO-2004125755,2004.01.08,2004,January,8,Thursday,8,D42,Shooting,Woburn North
2,3,GO-2004136086,2004.01.08,2004,January,8,Thursday,8,D42,Shooting,Malvern East
3,4,GO-2004148623,2004.01.25,2004,January,25,Sunday,25,D13,Shooting,Junction-Wallace Emerson
4,5,GO-2004148619,2004.01.25,2004,January,25,Sunday,25,D42,Shooting,Morningside Heights

In [3]:
final_df = data_df[['OBJECTID','EVENT_UNIQUE_ID','OCC_DATE','OCC_YEAR','OCC_MONTH','OCC_DAY','OCC_DOW','HOMICIDE_TYPE','NEIGHBOURHOOD_158']]
final_df = final_df[final_df['OCC_YEAR']>2015]

In [4]:
final_df

,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOW,HOMICIDE_TYPE,NEIGHBOURHOOD_158
779,780,GO-201620700,2016.01.04,2016,January,4,Monday,Shooting,Taylor-Massey
780,781,GO-201698593,2016.01.17,2016,January,17,Sunday,Other,Newtonbrook East
781,782,GO-2016108786,2016.01.19,2016,January,19,Tuesday,Shooting,New Toronto
782,783,GO-2016120610,2016.01.20,2016,January,20,Wednesday,Shooting,L'Amoreaux West
783,784,GO-2016119350,2016.01.20,2016,January,20,Wednesday,Shooting,Princess-Rosethorn
...,...,...,...,...,...,...,...,...,...
1317,1318,GO-20222396611,2022.12.08,2022,December,8,Thursday,Stabbing,High Park North
1318,1319,GO-20222413771,2022.12.10,2022,December,10,Saturday,Shooting,Taylor-Massey
1319,1320,GO-20222452652,2022.12.16,2022,December,16,Friday,Shooting,Morningside
1320,1321,GO-20222467066,2022.12.18,2022,December,18,Sunday,Stabbing,Yonge-Bay Corridor
1321,1322,GO-20222554708,2022.12.30,2022,December,30,Friday,Shooting,Tam O'Shanter-Sullivan

In [5]:
# Save the DataFrame to a CSV file
final_df.to_csv('Homicide_data.csv', index=False)

In [6]:
import csv
import json
input_file = 'Homicide_data.csv'
output_file = 'Homocide_data.json'

csv_records = []
with open(input_file, 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    for row in csv_reader:
        csv_records.append(row)

# Write JSON with commas between records
with open(output_file, 'w') as json_file:
    json_file.write('[')
    for index, record in enumerate(csv_records):
        json.dump(record, json_file, indent=2)
        if index < len(csv_records) - 1:
            json_file.write(',')
    json_file.write(']')